body{
    background: #fbfbfd;
}

.header_body {
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    top: 0px;
    left: 50px;
    width: 100px;
    height: 100px;
}

.datum_vrijeme {
    top: 0px;
    left: 815px;
    width: 290px;
    height: 100px;
    opacity: 1;
}

.korisnik {
}

.slika_profila {
    top: 32px;
    left: 1742px;
    width: 74px;
    height: 32px;
    text-align: left;
    font: normal normal normal 22px/91px Source Sans Pro;
    letter-spacing: 0px;
    color: #4CC3BE;
    opacity: 1;
}