.sidebar {
    flex-wrap: wrap;
    justify-self: flex-start;
    width: 200px;
    height: 100vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.sidebar img {
    width: 100px;
    height: 100px;
}
.row{
    height: 44px;
}
.row_selected {
    height: 44px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    color: white;
    vertical-align: middle;
}