.sidebar {
    width: 200px;
    height: 100vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.break {
    flex-basis: 100%;
}

.sidebar img {}

.row {
    height: 30px;
}

.row_selected {
    height: 40px;
    margin:0 -5px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    color: white;
    vertical-align: middle;
}