.login_body{
    display: flex;
    flex-wrap: wrap;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.break-column {
    flex-basis: 100%;
    width: 0;
}
.physical_image{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.physical_image img{
    max-width: 50%;
    max-height: 50%;
}
.login_form{
    display:flex;
    flex-wrap: wrap;
    top: 0px;
    left: 1000px;
    width: 1020px;
    height: 1080px;
    justify-content: space-between;
}
h1{
    height: 64px;
    text-align: left;
    font: normal normal bold 30px/21px Source Sans Pro;
    color: #43425D;
}
p{
    font: normal normal normal 18px/13px Source Sans Pro;
    letter-spacing: 0px;
    color: #4D4F5C;
    opacity: 0.5;
}
.prijava{
    background: #4CC3BE 0% 0% no-repeat padding-box;
    border-radius: 4px;
}
.prijava p{
    top: 688px;
    left: 1220px;
    width: 52px;
    height: 25px;
    text-align: center;
    font: normal normal normal 18px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.registracija{
    top: 674px;
    left: 1479px;
    width: 185px;
    height: 50px;
    border: 1px solid #43425D;
    border-radius: 4px;    
}
.registracija p{
    top: 688px;
    left: 1525px;
    width: 86px;
    height: 25px;
    text-align: center;
    font: normal normal normal 18px/13px Source Sans Pro;
    letter-spacing: 0px;
    color: #4D4F5C;
}